<% layout("layouts/boilerplate") %>
<div class="container">
    <h1>All Campgrounds</h1>

    <% for(let campground of campgrounds) {%>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-3">
                    <% if(campground.images.length){ %>
                        <img class="img-fluid mb-3 px-3" alt="" src="<%= campground.images[0].url %>">
                    <% }else { %>
                        <img src="https://images.unsplash.com/photo-1628155930542-3c7a64e2c833?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Tm8lMjBpbWFnZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="" class="img-fluid mb-3 px-3">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>